*{
    padding: 0;
    margin: 0;
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid #568cdd;
    margin: auto;
    overflow: hidden;
}
#character{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 104, 4);
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: #568cdd;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
#background {
    background-color:#568cdd;
    background-image: url(../Game\ 6\ Part\ 2/);
    color: white;
    font-size: 21px; 
}
body {
    background-color:#568cdd;
    background-image: url(../Game\ 6\ Part\ 2/);
    color: rgb(0, 0, 0);
    font-size: 21px; 
}
div {
    background-color:#568cdd;
    background-image: url(../Game\ 6\ Part\ 2/);
    color: rgb(0, 0, 0);
    font-size: 21px; 
}